{% extends 'base.html' %}

{% block title %}🤖 CineBot{% endblock %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5" style="background-color: #1C3E78; color: #FFFFFF; border-radius: 15px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='landing.PNG') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 10px;">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3" style="color: #FFD700;">
                🤖 CineBot
            </h1>
            <p class="lead fw-bold" style="color: #1DA1F2;">Deja de buscar, empieza a disfrutar.</p>
            <p class="lead">
                Encuentra tu próxima película o serie en segundos, sin perder horas eligiendo.
            </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/chat" class="btn btn-warning btn-lg px-4 me-md-2" style="background-color: #FFD700; color: #1C3E78; border: 2px solid #1C3E78; font-weight: bold;">
            🚀 Comenzar
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
